.App {
  text-align: center;
  border: 1px solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* slid Show com */
 

 .slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  /* height: 100%;  */
   border: 2px solid #6a0dad 
}  

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  /* border: 2px solid #df7708; */
}

.slide {
  display: inline-block;
  /* height: 570px; this make the changes in content height  */ 
  width: 100%;
  border-radius: 40px;
  /* border: 2px solid #0ff560; */
}

/*  slidShow button Buttons */

.slideshowDots {
  text-align: center;
    margin-top: -10px; 
  border: 2px solid #0bbaf9;  
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
 /* border: 2px solid #f4f1f6 ; */

  cursor: pointer;
  margin: 15px 7px 0px;
  color: white;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #4d0cf1;
}

/* 2nd row */
.row2nd_img{
  display: flex;
  justify-content: space-between;
   gap: 20px;
}

.headingstyle{
  font-weight: bold;
  text-align: start;
}

.textSecondRow{
  color: rgb(97, 97, 97);
  text-align: start;
}